body{
    margin: 0;
    background:#fff; 
    font-size:14px; 
    font-family: "微软雅黑";
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size:16px;
    font-weight: normal;
}
p{
    margin: 0;
}
ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
dl,dt,dd{
    margin: 0;
    padding: 0;
    text-indent: 0;
}
a{
    text-decoration: none;
  
}
img{
    vertical-align: bottom;
    border: none;
}
input{
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}
em,i{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}

/* 根据需要添加 */

table{
    border-collapse: collapse;
}
th{
    text-align: left;
    font-weight: normal;
}
td{
    vertical-align: top;
}

textarea{
    resize: none;
}
/* 清除浮动 */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
}
.clearfix{
    *zoom: 1;
}